.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: calc(100% / 3 * 2);
}

.column-full {
  width: 100%;
}

.column-fourth {
  width: 25%;
}

.character {
  width: 100%;
}
