.button {
  font-size: large;
  padding: 10px 20px;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
