.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.boxOff {
  display: none;
}

.modal.boxOn {
  background: rgba(0, 0, 0);
}

.words {
  font-size: 70px;
}

.normal {
  color: black;
}

.wrong {
  color: red;
  border-bottom: 3px solid red;
}

.correct {
  color: green;
}

.normal.current {
  border-bottom: 3px solid #000;
}

.playPrompt {
  color: white;
  position: absolute;
  top: 45%;
  left: 47%;
}

.orange {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: orange;
  border-color: transparent;
  border-radius: 8px;
  color: white;
  width: 80px;
  height: 40px;
  font-size: 20px;
}

#stats {
  color: white;
  position: absolute;
  top: 40%;
  left: 48%;
}
